* {margin:0;
    padding:0;}

body {
    background-image: url("images/background.jpg");
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo img {
    width: 100%;
    height: auto;
    margin: 20px;
    transition: transform 0.3s ease-in-out
}

a:hover img {
    transform: scale(1.1);
}